.player {
    width: 640px; /* Adjust as needed */
    position: relative;
    background-color: #181818; /* Dark background */
}

video {
    width: 100%;
}

.controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    color: #fff; /* White text */
}

button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.progress-bar {
    width: 300px;
    height: 5px;
    background-color: #333;
    margin: 0 10px;
}

.progress {
    height: 5px;
    background-color: #fff;
    width: 0%;
}

#current-time,
#duration {
    margin: 0 10px;
}
